.cs_console_container {
    font-size: 12px;
}
.cs_console_container h1,p{
    text-align: center;
}
.cs_console_container .log-item {
    border-bottom: 1px solid rgba(148, 148, 148, 0.25);
    padding: 5px;
    padding-left: 20px;
    cursor: pointer;
    word-break: break-all;
}
.cs_console_container .log-item-red {
    border-bottom: 1px solid rgba(148, 148, 148, 0.25);
    padding: 5px;
    padding-left: 20px;
    cursor: pointer;
    word-break: break-all;
    color: red;
}
.cs_console_container .log-item-green {
    border-bottom: 1px solid rgba(148, 148, 148, 0.25);
    padding: 5px;
    padding-left: 20px;
    cursor: pointer;
    word-break: break-all;
    color: green;
}
.cs_console_container .log-item::before {
    content: '> ';
    height: 100%;
    position: absolute;
    left: 10px;
    color: gray;
}
.cs_console_container .log-item:hover {
    background-color: aliceblue;
    color: black;
}
.cs_console_dialog {
    color: black;
    background-color: white;
    width: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: rgb(17 17 26 / 10%) 0px 4px 16px, rgb(17 17 26 / 10%) 0px 8px 24px, rgb(17 17 26 / 10%) 0px 16px 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    display: none;
}
#cs_console_container_time {
    color: brown;
    font-size: 14px;
}